.header {
    width: 100%;
    height: auto;
    background-color: rgba(174, 145, 207, 0.737) ;
    color: rgb(0, 0, 0);
    font-size: normal;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.header span {
    font-size: 1.5rem;
    font-weight: bold;
}

.header a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-left: 1.6rem;
    font-size: 1.2rem;
}

.headerTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: rgb(228, 134, 11); */

}

.headerBottom{
    /* background-color: #cf2828; */
    align-self: flex-start;

}